
// couleurs principale

$primaire-colors: #9356DC;
$secondaire-colors:#FF79DA;
$Tertiaire-colors:#99E2D0;

// couleurs loader

$color-bkg: #F5F5F6;
$color-white: #FFF;


// button couleurs texte

$button-colors:white;

// ombrage button

$box-shadows: 1px 0px 10px -5px black;
$box-shadows-hover: 1px 1px 5px 1px black;


