@import '_variable.scss';
@import 'mixins.scss';

body {
  margin: 0;
}

h1, h2,footer h2
{
	font-family: 'Shrikhand', cursive;
}

h3, p, a
{
	font-family: 'Roboto', sans-serif;
}

header
{ 
    h1
    {
        text-align: center;
        position: relative;  
    }
    i
    {
	    position: absolute;
	    left: 15px;
	    top: 15px;
    }
    .fa-arrow-left
    {
        font-size: 0.7em;
    }
    a
    {
        color: black;
    }
    #image,#image2,#image3,#image4
    {
        background-repeat: no-repeat;
        background-size: cover;
        height:280px;
    }

    #image
    {
        background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: center;
    }

    #image2
    {
        background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: bottom;
    }

    #image3
    {
        background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-position: bottom 25px left -40px;
    }

    #image4
    {
        background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: center bottom 20px;
    }
}

section
{
    border-radius: 30px 30px 0 0;
	margin-top: -50px;
	width: 100%;
	background-color: #eeeeee;
	padding-top: 30px;
	padding-bottom: 10px;
    h2
    {
        margin-top: 0;
        padding-left: 20px;
        font-size: 1.6em;
    }
    & > div
    {
        display: flex;
        justify-content: space-between;
    }
    .fa-heart
    {
        padding-right: 30px;
        font-size: 1.7em;
        text-shadow: 0px 0px 5px black;
        color: white;
    }
    #commande
    {
        padding-top: 30px;
        padding-bottom: 50px;
        justify-content: center;
        button
        {
            @include button;
            &:hover
            {
                @include button-hover;
            }
        }
        
    } 
}

article
{
    animation: trans 700ms 1s both;
    h2
    {
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: lighter;
        padding-left: 20px;
        font-size: 1em;
        span
        {
            border-bottom: #99E2D0 4px solid;
            padding-bottom: 5px;
        
        }
    }
    .details
    {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin:20px 20px 30px;
        justify-content: space-between;
        box-shadow: 1px 1px 5px 0 black;
        animation: trans 1s 1.5s both;
        cursor: pointer;
        &:hover
        {
            h3,p
            {
                width: 60%;
            }
            .prix
            {
                background-color: $Tertiaire-colors;
                border-radius: 0 20px 20px 0;
                transition: all 500ms;
                transform-origin: right;
                p
                {
                    animation: fav 1s infinite;
                    width: 50px;
                }
            }
            
        }
        .prix
            {
                padding-right: 20px;
                min-width: 50px;
                align-items: flex-end;
                display: flex;
            }   
        h3, p
        {
	        padding-left: 10px;
        }
        .Entrées
        {
            animation: trans 700ms 1.5s both;
            width: 75%;
        }
        .plats
        {
            animation: trans 700ms 2s both;
            width: 75%;
        }
        .Desserts
        {
            animation: trans 700ms 2.5s both;
            width: 75%;    
        }

        h3
        {
            margin-bottom: 0;
        }
    }
    
    h3,.plats p, .Entrées p, .Desserts p
    {
        font-family: sans-serif;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p
    {
	    margin-top: 5px;
    }
}

@keyframes fav{
    0%{
        
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(-50px);
    }
}


@keyframes trans {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);  
    }
}

footer
{
	@include footer;
    h2
    {
	   @include footer_h2;
    }
    a
    {
	   @include footer_a;
    }
    i
    {
	    @include footer_i;
    }
    
}

@media screen and (min-width: 342px)
{
    header
    {
        #image2
        {
            background-position: center;
        }

        #image3
        {
            background-position: center bottom 20px;
        }
    }
}

@media screen and (min-width: 500px)
{
     header
     { 
        #image
        {
            background-position: bottom;
        }

        #image,#image2, #image3, #image4
        {
            height: 400px;
        }

        #image3
        {
            background-position: center bottom 20px;
        }

        #image2
        {
            background-position: center;
        }
     }

     section
     { 
        max-width: 1100px;
        margin: auto;
        margin-top: -50px;
     }

	footer
	{
		text-align: center;
	}
}

@media screen and (min-width: 620px)
{
    header
    {
        #image4
        {
            background-position: bottom;
        }

        #image3
        {
            background-position: center bottom 20px;
        }
    }
}

@media screen and (min-width: 726px)
{
    header
    {
        #image4
        {
            background-position: center bottom 20px;
        }
    }
}

@media screen and (min-width: 915px )
{
    header
    {
        #image,#image2, #image3, #image4
        {
            height: 500px;
        }

        #image
        {
            background-position: center bottom -50px;
        }

        #image4
        {
            background-position: center bottom 20px;
        }
    }

}

@media screen and (min-width: 1080px)
{
    header
	{
        background-color: white;
        i
	    {
		    padding-top: 30px;
        }
        h1
        {
            margin-top: 0;
            padding-top: 30px;
        }
        #image3
        {
            background-position: center bottom ;
        }

        #image4
        {
            background-position: center bottom 20px;
        }
	}
	section
	{
		width:auto;
        padding-bottom: 10px;
        #commande button
        {
            font-size: 1em;
        }
	}
}

@media screen and (min-width: 1269px)
{
    header
    {
        #image
        {
            background-position: center bottom -80px;
        }

        #image3
        {
            background-position: center bottom -100px;
        }
    }
}

@media screen and (min-width: 1516px)
{
    header
    {
        #image
        {
            background-position: center bottom -150px;
        }

        #image3
        {
            background-position: center bottom -180px;
        }

        #image4
        {
            background-position: center bottom -40px;
        }
    }
}

@media screen and (min-width: 1730px)
{
    header
    {
        #image
        {
            background-position:center bottom -280px;
        }

        #image3
        {
            background-position: center bottom -250px;
        }

        #image4
        {
            background-position: center bottom -80px;
        }
    }
}


