@charset "UTF-8";
body {
  margin: 0;
}

.header__h1, .Présentation__h2, .footer__h2 {
  font-family: "Shrikhand", cursive;
}

.Menu__h3, .Menu__prix, .footer {
  font-family: "Roboto", sans-serif;
}

.header__h1 {
  text-align: center;
  position: relative;
}
.header i {
  position: absolute;
  left: 15px;
  top: 15px;
}
.header .fa-arrow-left {
  font-size: 0.7em;
  color: black;
}
.header__img1, .header__img2, .header__img3, .header__img4 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}
.header__img1 {
  background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center;
}
.header__img2 {
  background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: bottom;
}
.header__img3 {
  background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: bottom 25px left -40px;
}
.header__img4 {
  background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center bottom 20px;
}

.Présentation {
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  width: 100%;
  background-color: #eeeeee;
  padding-top: 30px;
  padding-bottom: 10px;
}
.Présentation__h2 {
  margin-top: 0;
  padding-left: 20px;
  font-size: 1.6em;
}
.Présentation__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.Présentation .fa-heart {
  padding-right: 30px;
  font-size: 1.7em;
  text-shadow: 0px 0px 5px black;
  color: #FFF;
}
.Présentation .fa-heart:hover {
  color: #d900fa;
  text-shadow: none;
}
.Présentation .commande {
  padding-top: 30px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Présentation .commande__btn {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 100%);
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 0px 10px -5px black;
  font-family: "Roboto", sans-serif;
}
.Présentation .commande__btn:hover {
  box-shadow: 1px 1px 5px 1px black;
  opacity: 0.8;
}

.Menu {
  -webkit-animation: trans 700ms 1s both;
  animation: trans 700ms 1s both;
}
.Menu__h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 20px;
  font-size: 1em;
}
.Menu__h2 span {
  border-bottom: #99E2D0 4px solid;
  padding-bottom: 5px;
}
.Menu__h3, .Menu__p {
  padding-left: 10px;
}
.Menu__prix {
  padding-right: 20px;
  min-width: 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Menu__Entrées {
  -webkit-animation: 700ms 1.5s both;
  animation: trans 700ms 1.5s both;
  width: 75%;
}
.Menu__Plats {
  -webkit-animation: trans 700ms 2s both;
  animation: trans 700ms 2s both;
  width: 75%;
}
.Menu__Desserts {
  -webkit-animation: trans 700ms 2.5s both;
  animation: trans 700ms 2.5s both;
  width: 75%;
}
.Menu__h3 {
  margin-bottom: 0;
}
.Menu__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 1px 1px 5px 0 black;
  box-shadow: 1px 1px 5px 0 black;
  -webkit-animation: trans 1s 1.5s both;
  animation: trans 1s 1.5s both;
  cursor: pointer;
}
.Menu__details:hover {
  overflow: hidden;
}
.Menu__details:hover .Menu__h3, .Menu__details:hover .Menu__p {
  width: 60%;
}
.Menu__details:hover .Menu__prix {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
.Menu__details:hover .Menu__prix .Menu__prixEuros {
  -webkit-animation: fav 1s infinite;
  animation: fav 1s infinite;
  width: 50px;
}
.Menu__details:hover .Menu__prix .Menu__circle {
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 32px;
  height: 32px;
  -webkit-animation: icon 1s ease-in-out;
  animation: icon 1s ease-in-out;
}
.Menu__details:hover .Menu__prix .Menu__circle .Menu__icon {
  border-top: 5px solid #99E2D0;
  border-left: 5px solid #99E2D0;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 10px;
  height: 14px;
  border-radius: 1px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
}
.Menu__h3, .Menu__p {
  font-family: sans-serif;
  margin-right: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Menu__p {
  margin-top: 5px;
}

@-webkit-keyframes fav {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@keyframes fav {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@-webkit-keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(360deg);
    transform: translateX(0px) rotate(360deg);
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(360deg);
    transform: translateX(0px) rotate(360deg);
  }
}
@-webkit-keyframes trans {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes trans {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.footer {
  background-color: #404040;
  color: #f4f4f4;
  padding: 20px;
}
.footer__h2 {
  margin-top: 0;
  font-weight: lighter;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer i {
  padding-right: 10px;
  min-width: 20px;
}

@media screen and (min-width: 342px) {
  .header__img2 {
    background-position: center;
  }

  .header__img3 {
    background-position: center bottom -20px;
  }
}
@media screen and (min-width: 580px) {
  .Présentation {
    max-width: 1100px;
    margin: auto;
    margin-top: -50px;
  }
}
@media screen and (min-width: 620px) {
  .header__img4 {
    background-position: bottom;
  }
}
@media screen and (min-width: 670px) {
  .header__img3 {
    background-position: center bottom -20px;
  }
}
@media screen and (min-width: 726px) {
  .header__img4 {
    background-position: center bottom 20px;
  }
}
@media screen and (min-width: 760px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 776px) {
  .header__img3 {
    background-position: center bottom -100px;
  }
}
@media screen and (min-width: 915px) {
  .header__img1, .header__img2, .header__img3, .header__img4 {
    height: 500px;
  }
  .header__img1 {
    background-position: center bottom -50px;
  }
  .header__img4 {
    background-position: center bottom 20px;
  }
}
@media screen and (min-width: 1080px) {
  .header {
    background-color: white;
  }
  .header i {
    padding-top: 30px;
  }
  .header__h1 {
    margin-top: 0;
    padding-top: 30px;
  }
  .headerimg3 {
    background-position: center bottom;
  }
  .header__img4 {
    background-position: center bottom 20px;
  }

  .Présentation {
    width: auto;
    padding-bottom: 10px;
  }

  .commande__btn {
    font-size: 1em;
  }
}
@media screen and (min-width: 1269px) {
  .header__img1 {
    background-position: center bottom -80px;
  }
  .header__img3 {
    background-position: center bottom -100px;
  }
}
@media screen and (min-width: 1516px) {
  .header__img1 {
    background-position: center bottom -150px;
  }
  .header__img3 {
    background-position: center bottom -180px;
  }
  .header__img4 {
    background-position: center bottom -40px;
  }
}
@media screen and (min-width: 1730px) {
  .header__img1 {
    background-position: center bottom -280px;
  }
  .header__img3 {
    background-position: center bottom -250px;
  }
  .header__img4 {
    background-position: center bottom -80px;
  }
}

/*# sourceMappingURL=style2.css.map */
